<div class="details">
	<div class="name">
		<div>{{$ctrl.lastName}} {{$ctrl.firstName}}</div>
		<button class="button__edit" ng-click="$ctrl.allowEditing()">edit profile</button>
	</div>	
	<form action="">
		<div class="form-item">
			<label for="">Identification Code</label>
			<input id="1" type="number" name="code" ng-model="$ctrl.code" ng-disabled="$ctrl.isDisabled">
		</div>
		<div class="form-item">
			<div class="form-item__description">
				Address
			</div>
			<div>
			  <label for="">Zip Code</label>
			  <input type="text" name="" ng-model="$ctrl.zipCode" ng-disabled="$ctrl.isDisabled">		
			</div>
			<div ng-if="$ctrl.region">
				<label for="">Region</label>
				<input type="text" name="" ng-model="$ctrl.region" ng-disabled="$ctrl.isDisabled">
			</div>
			<div>
				<label for="">City</label>
				<input type="text" name="" ng-model="$ctrl.city" ng-disabled="$ctrl.isDisabled">
			</div>	
			<div>
				<label for="">Street</label>
				<input type="text" name="" ng-model="$ctrl.street" ng-disabled="$ctrl.isDisabled">
			</div>
			<div>
				<label for="">Street Number</label>
				<input type="text" name="" ng-model="$ctrl.strNumber" ng-disabled="$ctrl.isDisabled">
			</div>	
			<div ng-if="$ctrl.aptNumber">
				<label for="">Apartment Number</label>
				<input type="text" name="" ng-model="$ctrl.aptNumber" ng-disabled="$ctrl.isDisabled">
			</div>			
		</div >
		<div class="form-item">
			<div class="form-item__description">
				Registration
			</div>
			<div>
				<label for="">Registration Number</label>
				<input type="text" name="" ng-model="$ctrl.registrationNumber" ng-disabled="$ctrl.isDisabled">
			</div>
			<div>
				<label for="">Registration Day</label>
				<input type="text" name="" ng-model="$ctrl.registrationDay" ng-disabled="$ctrl.isDisabled">
			</div>
			<div>
				<label for="">Registration Month</label>
				<input type="text" name="" ng-model="$ctrl.registrationMonth" ng-disabled="$ctrl.isDisabled">
			</div>
			<div>
				<label for="">Registration Year</label>
				<input type="text" name="" ng-model="$ctrl.registrationYear" ng-disabled="$ctrl.isDisabled">
			</div>
		</div>
		<div class="form-item">
			<div class="form-item__description">
				Bank Account
			</div>
			<div>
				<label for="">Account</label>
				<input type="text" name="" ng-model="$ctrl.account" ng-disabled="$ctrl.isDisabled">
			</div>
			<div>
				<label for="">Bank</label>
				<input type="text" name="" ng-model="$ctrl.bank" ng-disabled="$ctrl.isDisabled">
			</div>
			<div>
				<label for="">MFO</label>
				<input type="text" name="" ng-model="$ctrl.MFO" ng-disabled="$ctrl.isDisabled">
			</div>
		</div>
	</form>
</div>


